# Case 3. Новый дизайн сайта

Отдел маркетинга разработал новый дизайн посадочной страницы клиента (lending). Пользователи сайта оценили новый дизайн. Результаты итоговой оценки зафиксированы в количественной переменной Общая оценка. Средняя оценка старого дизайна по результатам прошлого исследования составляет 30 баллов.

Значимо ли улучшился дизайн посадочной страницы сайта, и есть ли влияние возраста на оценку нового дизайна?
Необходимо ответить на вопрос, используя статистические методы, а также дать рекомендации отделу маркетинга по результатам проведенного анализа.

In [1]:
import pandas as pd

In [3]:
d = pd.read_excel("C:\\Users\\HOME\\PycharmProjects\\case_studies_da\\3. Lending\\data_lending.xlsx")
d.head(10)

  Возрастная группа  Общая оценка
0       65 и страше     38.454803
1             55-64     17.669677
2       65 и страше     31.704307
3       65 и страше     25.924460
4             До 25     30.450007
5             До 25     35.609909
6       65 и страше     29.677695
7             25-34     38.167369
8       65 и страше     23.509700
9             45-54     26.051029

In [ ]:
d.