# Case 4. Кредитный скоринг

### Задача

Построить модель, которая будет предсказывать вероятность неплатежа клиента в следующем месяце.
Необходимо описать все выполняемые этапы построения, например, обработка данных, нормализация, отбор предикторов, оценка результатов построения, сравнение различных моделей и тд.

### Входные данные

Набор данных содержит информацию о дефолтных платежах, демографических факторах, кредитных данных, истории платежей и выписках по счетам клиентов по кредитным картам на Тайване с апреля 2005 г. по сентябрь 2005 г. Наименование файла с данными - UCI_Credit_Card.csv

### Описание переменных

Всего 25 переменных:
1.	ID : ID каждого клиента
2.	LIMIT_BAL : сумма предоставленного кредита в тайваньских долларах (включает индивидуальный и семейный / дополнительный кредит)
3.	SEX : Пол (1 = мужской, 2 = женский)
4.	EDUCATION: (1 = аспирантура, 2 = университет, 3 = средняя школа, 4 = другие, 5 = неизвестно, 6 = неизвестно)
5.	MARRIAGE: Семейное положение (1 = женат, 2 = холост, 3 = другие)
6.	AGE: Возраст в годах
7.	PAY_0 : Статус погашения в сентябре 2005 г. (-1 = своевременная оплата, 1 = задержка платежа на один месяц, 2 = задержка платежа на два месяца,… 8 = задержка платежа на восемь месяцев, 9 = задержка платежа на девять месяцев и более)
8.	PAY_2 : Статус погашения в августе 2005 г. (шкала такая же, как указано выше)
9.	PAY_3 : Статус погашения в июле 2005 г. (шкала такая же, как указано выше)
10.	PAY_4 : Статус погашения в июне 2005 г. (шкала такая же, как указано выше)
11.	PAY_5 : Статус погашения в мае 2005 г. (шкала такая же, как указано выше)
12.	PAY_6 : Статус погашения в апреле 2005 г. (шкала такая же, как указано выше)
13.	BILL_AMT1 : Сумма выписки по счету за сентябрь 2005 г. (NT-доллар)
14.	BILL_AMT2 : Сумма выписки по счету в августе 2005 г. (NT-доллар)
15.	BILL_AMT3 : Сумма выписки по счету за июль 2005 г. (NT-доллар)
16.	BILL_AMT4 : Сумма выписки по счету в июне 2005 г. (NT-доллар)
17.	BILL_AMT5 : Сумма выписки по счету в мае 2005 г. (NT-доллар)
18.	BILL_AMT6 : Сумма выписки по счету в апреле 2005 г. (NT-доллар)
19.	PAY_AMT1 : Сумма предыдущего платежа в сентябре 2005 г. (NT-доллар)
20.	PAY_AMT2 : Сумма предыдущего платежа в августе 2005 г. (NT-доллар)
21.	PAY_AMT3 : Сумма предыдущего платежа в июле 2005 г. (NT-доллар)
22.	PAY_AMT4 : Сумма предыдущего платежа в июне 2005 г. (NT-доллар)
23.	PAY_AMT5 : Сумма предыдущего платежа в мае 2005 г. (NT-доллар)
24.	PAY_AMT6 : Сумма предыдущего платежа в апреле 2005 г. (NT-доллар)
25.	default.payment.next.month : дефолт платежа в следующем месяце (1 = да, 0 = нет)

In [1]:
import pandas as pd

In [2]:
d = pd.read_csv("C:\\Users\\HOME\\PycharmProjects\\case_studies_da\\4. UCI_Credit_Card\\UCI_Credit_Card.csv")
d.head(10)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
5,6,50000.0,1,1,2,37,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
6,7,500000.0,1,1,2,29,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
7,8,100000.0,2,2,2,23,0,-1,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
8,9,140000.0,2,3,1,28,0,0,2,0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
9,10,20000.0,1,3,2,35,-2,-2,-2,-2,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0